*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general styles */
body
{
    background-color: #4682B4;
    font-family: 'Montserrat', sans-serif;
}

/* utilities */
.grid
{
    display: grid;
}

.hide
{
    display: none;
}

.grid-col-2
{
    grid-template-columns: 90% 1fr;
}

h3
{
    font-weight: bold;
}

hr
{
    width: 100%;
}

i
{
    cursor: pointer;
}

.main-container
{
    height: 100vh;
    width: 35%;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #fff;
}

#inner-container-top
{
    background-color: #5F9EA0	;
    border-radius: 10px 10px 0 0;
    padding: 12px;
    text-align: center;
}

#inner-container-top > div > input
{
    width: 100%;
    font-size: 1.2rem;
    padding: 8px;
    border: none;
    outline: none;
    height: 35px;
    justify-self: start;
}

#inner-container-top > div > i
{
    font-size: 2rem;
    /* background-color: blue; */
}

#inner-container-top > div
{
    width: 100%;
}

.text-field
{
    align-items: center;
    justify-items: center;
}

.text-field input
{
    border-radius: 10px;
}

.text-field i
{
    padding: 8px 12px;
}

#inner-container-bottom
{
    margin: 20px 10px;
    /* background-color: coral; */
}

.items-container
{
    padding: 8px 10px;
    /* background-color: aqua; */
}

#inner-container-bottom > h2,
#inner-container-bottom > p
{
    text-align: center;
}

#inner-container-bottom > p
{
    padding-top: 10px;
}

/* .item-container > div:nth-child(2)
{
    padding: 8px 12px;
    justify-self: center;
    align-self: center;
} */

.item-details
{
    background-color: aqua;
}

/* .items-container i
{
    padding: 8px 12px;
    justify-self: center;
    align-self: center;
} */

/* .items-container > div
{
    margin: 10px 0;
} */

.item-row
{
    /* background-color: aqua; */
    padding: 0 20px;
    height: 50px;
    align-items: center;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 10px;
}

.item-row > div
{
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 10px;
}



